{% extends 'aicloneapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="text-uppercase text-center mb-5">Sign up</h2>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
	<button type="submit" class="btn btn-success">Register</button>
  </form>
  <br>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <div class="alert fade in {% if message.tags %} alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
          <a class="close" href="#" data-dismiss="alert">&times;</a>
          {{ message }}
      </div>
      {% endfor %}
  </ul>
  {% endif %}
{% endblock %}